---
import { Image } from "astro:assets";
import Skill from "./Skill.astro";

interface Props {
    project: Project;
    index: number;
}

const { index, project } = Astro.props;
const { title, description, images, usedSkills, link } = project;

const itShouldBeReverse = index % 2 == 0;
const className = itShouldBeReverse
    ? "w-full flex flex-col items-center md:items-start md:flex-row gap-4 md:gap-8 max-w-96 p-4 md:p-0 md:max-w-screen-md"
    : "w-full flex flex-col items-center md:items-start md:flex-row-reverse gap-4 md:gap-8 max-w-96 p-4 md:p-0 md:max-w-screen-md";
---

<div class={className}>
  <div class="flex flex-col gap-2 md:gap-4">
    {project.images?.map((imgSrc) => (
      <img
        src={imgSrc}
        alt={title}
        class="w-full object-contain object-center md:max-w-80"
      />
    ))}
  </div>

  <div class="flex flex-col gap-2 flex-1">
    <div class="flex flex-col">
      <h3 class="text-xl md:text-2xl lg:text-3xl font-bold">{title}</h3>
     <a href={link} class="underline text-blue-600 italic" target="_blank" rel="noopener noreferrer">
  {link}
</a>

    </div>

    <div class="mt-2 flex flex-wrap gap-2">
      {usedSkills.map((usedSkill) => <Skill skill={usedSkill} />)}
    </div>

    <p class="text-pretty" set:html={description}></p>


    {project.audioUrl && (
      <audio controls class="mt-2 w-full">
        <source src={project.audioUrl} type="audio/mpeg" />
        Tu navegador no soporta el audio.
      </audio>
    )}
  </div>
</div>
